.divClass {
    background-color: #f0f0f0;
}

.slds-modal__container {
    width: 20% !important;
    max-width: 20% !important;
    height: 80% !important;
    max-height: 80% !important;
}

.scrollPlayers {
    max-height: 290px;
    overflow-y: auto;
}

a:hover {
    text-decoration: none !important;
    color: #004487;
}

lightning-icon {
    --lwc-colorTextIconDefault: rgb(0, 109, 204);
}

a:hover lightning-icon {
    --lwc-colorTextIconDefault: #004487;
}