/*.mytextarea{
    min-height: 550px;
    min-width: 150px;
    display: inline-block;
   
}

.THIS.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
    
}

.THIS .item:hover{
    border:none;
  }*/