.selectedbutton {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #dddbda;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    background-color: #1b5297;
    border-color: #c2dfff;
    text-decoration-color: white;
    color: white;
}

.unselectedButton {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid black;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    background-color: #ffffff;
    border-color: #706e6b;
    text-decoration-color: white;
    color: #706e6b;
}

.THIS textarea {
    height: 200px;
}

.gi-heading {
    font-style: normal;
    font-size: 12px;
    color: #3e3e3c;
}

.gi-text {
    font-style: normal;
    font-size: 14px;
    color: #080707;
    line-height: 17px;
}
.gi-title {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #080707;
    word-wrap: break-word;
}
.scroll {
    overflow: scroll;
    overflow-x: hidden;
}

.gap {
    margin-top: var(--lwc-spacingMedium, 1rem);
}