.question_logo {
    width: 18px;
    height: 18px;
}
.custom-box {
    text-align: center;
    padding: 1rem;
    border: 1px solid #d8dde6;
}

.greyDiv {
    background-color: #f2f2f2;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #f2f2f2;
    color: gray;
}