.divClass {
    background-color: #f0f0f0;
}

.star-icon {
    border-radius: 0px;
    display: inline-block;
}

.star-icon.focus,
.star-icon:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.wrapTextCls {
    word-wrap: break-word;
}

.selectedbutton {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #dddbda;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    background-color: #1b5297;
    border-color: #c2dfff;
    text-decoration-color: white;
    color: white;
}

.unselectedButton {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid black;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    background-color: #ffffff;
    border-color: #706e6b;
    text-decoration-color: white;
    color: #706e6b;
}

.svgyes {
    color: #c9c7c5;
    size: 16px;
}

.svgno {
    color: #c9c7c5;
    size: 16px;
}

.fixheight {
    height: 100px;
}

.toggleAlign {
    margin-top: 5px;
    margin-left: 14px;
    margin-block-end: 35px;
    margin-inline-end: -14px;
}

.toggleDisplay {
    display: block;
    margin-top: 5px;
}

.saveAndCancelBtn {
    margin-top: 5px;
    margin-right: 19px;
}
.toast {
    left: 120px;
    bottom: 1800px;
    right: 100px;
    position: fixed;
    text-align: center;
    top: auto;
    display: inline-flex;
    align-items: center;
    position: relative;
    text-align: left;
    justify-content: flex-start;
}
.slds-notify-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
}